<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
    <!-- Left: Brand -->
    <a class="navbar-brand fw-bold text-light" href="/">Blogify</a>

    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Content -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- Center -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <% if (locals.user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/blog/add-new">Add Blog</a>
        </li>
        <% } %>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav ms-auto">
        <% if (locals.user) { %>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle d-flex align-items-center"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="<%= user.profileImageURL || '/default.png' %>"
              alt="Profile"
              class="rounded-circle me-2"
              style="width:30px; height:30px; object-fit:cover;"
            />
            <span class="text-light"><%= user.fullName %></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
              <li><a class="dropdown-item" href="/user/blogs">My Blogs</a></li>
            <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
          </ul>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="btn btn-outline-light me-2" href="/user/signin">Signin</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-light text-dark" href="/user/signup">Sign Up</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<!-- Error Alert -->
<% if (locals.error) { %>
<div class="container mt-4">
  <div class="alert alert-danger" role="alert"><%= locals.error %></div>
</div>
<% } %>
